body {
  margin: 0;
  background-color: #0a0a0a;
  color: #f0f0f0;
  font-family: 'JetBrains Mono', monospace;
  text-align: center;
}
h1, h2 {
  color: #ff007f;
  text-shadow: 0 0 8px #ff007f;
  text-align: center;
}
.neon-button {
  background-color: transparent;
  color: #ff007f;
  border: 2px solid #ff007f;
  padding: 1rem 2rem;
  font-size: 1.2rem;
  margin-top: 2rem;
  cursor: pointer;
  text-decoration: none;
  box-shadow: 0 0 10px #ff007f, inset 0 0 5px #ff007f;
}
.neon-button:hover {
  background-color: #ff007f;
  color: #0a0a0a;
  box-shadow: 0 0 20px #ff007f;
}
.section {
  border: 2px solid #ff007f;
  background-color: #262626;
  padding: 2rem;
  margin: 2rem auto;
  max-width: 700px;
  box-shadow: 0 0 20px #ff007f;
}
.gallery img, .support-crew img {
  width: 100px;
  margin: 0.5rem;
  border: 1px solid #ff007f;
  transition: transform 0.2s;
  cursor: pointer;
}
.gallery img:hover, .support-crew img:hover {
  transform: scale(1.05);
  box-shadow: 0 0 10px #ff007f;
}
.profile-pic {
  width: 180px;
  border: 2px solid #ff007f;
  border-radius: 10px;
  box-shadow: 0 0 15px #ff007f;
}
